<%- include('header'); -%>
<div class="show-path">
    <p><a href="/">Home</a> > <%= category %></p>
</div>
<!-- <%- include('content'); -%> -->


<section class="home-content">

    <div class="row">
        <div class="col-lg-4">
            <div class="story">
                <div class="heading">
                    Top stories
                </div>
                <!-- <div class="post-1">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, corrupti.<a href="#"
                            class="read-link">read full
                            article</a></p>
                    <img src="../css/image/demo1.jpg" alt="">
                </div>
                <hr> -->


                <% posts.forEach((post)=>{ %>
                <%   if(post.type=="post-1"){ %>
                <div class="post-1">
                    <p> <%=post.title %> <a href="/<%=category %>/<%=post.title %>" class="read-link">read full
                            article</a></p>
                    <img src="<%= post.img %>" alt="">

                </div>
                <hr>
                <% }}); %>

            </div>
        </div>
        <div class="col-lg-2">
            <div class="top-post">
                <!-- <div class="post-2">
                    <img src="../css/image/demo2.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div> -->
                <% posts.forEach((post)=>{ %>
                <%   if(post.type=="post-2"){ %>
                <div class="post-2">
                    <a href="/<%= category %>/<%= post.title%>"><img src="<%= post.img %>" alt=""></a>
                    <p><%= post.title %></p>
                </div>
                <% }}); %>
            </div>
        </div>

    </div>

    <div class="top-pick">
        <div class="heading">
            TOP PICKS
        </div>
        <div class="pick-posts">

            <!-- <div class="post-3">
                <img src="../css/image/nora.webp" alt="">
                <div class="post-3-content">
                    <span class="tag">celeb</span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, sed!</p>
                </div>
            </div> -->
            <% posts.forEach((post)=>{ %>
            <%   if(post.type=="post-3"){ %>
            <div class="post-3">
                <a href="/<%= category %>/<%= post.title%>">
                    <img src="<%= post.img %>" alt="">
                    <div class="post-3-content">
                        <span class="tag">cool</span>
                        <p><%= post.title%></p>
                    </div>
                </a>
            </div>
            <% }}); %>

        </div>
    </div>

</section>







<%- include('footer'); -%>